.card-list {
    margin-right: 1100px;
    text-align: left;
}

/* .card-list ul {
    display: inline-block;
}

.card-list li {
    text-align: left;
} */


/* li {
    list-style-position: inside;
    padding-left: 0;
    margin: 10px;
} */